# Assignment 5, Question 4: Data Exploration

**Points: 15**

In this notebook, you'll explore the clinical trial dataset using pandas selection and filtering techniques.

You'll use utility functions from `q3_data_utils` where helpful, but also demonstrate direct pandas operations.

## Setup

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import utilities from Q3
from q3_data_utils import load_data, detect_missing, filter_data

# Load the data
df = load_data('data/clinical_trial_raw.csv')
print(f"Loaded {len(df)} patients with {len(df.columns)} variables")

# Prewritten visualization functions for exploration
def plot_value_counts(series, title, figsize=(10, 6)):
    """
    Create a bar chart of value counts.
    
    Args:
        series: pandas Series with value counts
        title: Chart title
        figsize: Figure size tuple
    """
    plt.figure(figsize=figsize)
    series.plot(kind='bar')
    plt.title(title)
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()

def plot_crosstab(crosstab_data, title, figsize=(10, 6)):
    """
    Create a heatmap of crosstab data.
    
    Args:
        crosstab_data: pandas DataFrame from pd.crosstab()
        title: Chart title
        figsize: Figure size tuple
    """
    plt.figure(figsize=figsize)
    plt.imshow(crosstab_data.values, cmap='Blues', aspect='auto')
    plt.colorbar()
    plt.title(title)
    plt.xticks(range(len(crosstab_data.columns)), crosstab_data.columns, rotation=45)
    plt.yticks(range(len(crosstab_data.index)), crosstab_data.index)
    plt.tight_layout()
    plt.show()

Loaded 10000 patients with 18 variables

## Part 1: Basic Exploration (3 points)

Display:
1. Dataset shape
2. Column names and types
3. First 10 rows
4. Summary statistics (.describe())

In [2]:
# TODO: Display dataset info
print("Dataset Information:")
print(df.info())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   patient_id          10000 non-null  object
 1   age                 10000 non-null  int64
 2   sex                 10000 non-null  object
 3   bmi                 9562 non-null   float64
 4   enrollment_date     10000 non-null  object
 5   systolic_bp         9586 non-null   float64
 6   diastolic_bp        9586 non-null   float64
 7   cholesterol_total   9446 non-null   float64
 8   cholesterol_hdl     9446 non-null   float64
 9   cholesterol_ldl     9446 non-null   float64
 10  glucose_fasting     9631 non-null   float64
 11  site                10000 non-null  object
 12  intervention_group  10000 non-null  object
 13  follow_up_months    10000 non-null  int64
 14  adverse_events      10000 non-null  int64
 15  outcome_cvd         10000 non-null  object
 16  adherence_pct       8533 non-null   float64
 17  dropout             10000 non-null  object
dtypes: float64(8), int64(3), object(7)
memory usage: 1.4+ MB
None

## Part 2: Column Selection (3 points)

Demonstrate different selection methods:

1. Select only numeric columns using `.select_dtypes()`
2. Select specific columns by name
3. Select a subset of rows and columns using `.loc[]`

In [3]:
# TODO: Select numeric columns
df.select_dtypes(include=['number'])

,age,bmi,systolic_bp,diastolic_bp,cholesterol_total,cholesterol_hdl,cholesterol_ldl,glucose_fasting,follow_up_months,adverse_events,adherence_pct
0,80,29.3,123.0,80.0,120.0,55.0,41.0,118.0,20,0,24.0
1,80,NaN,139.0,81.0,206.0,58.0,107.0,79.0,24,0,77.0
2,82,-1.0,123.0,86.0,172.0,56.0,82.0,77.0,2,0,70.0
3,95,25.4,116.0,77.0,200.0,56.0,104.0,115.0,17,0,62.0
4,95,NaN,97.0,71.0,185.0,78.0,75.0,113.0,9,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9995,72,23.2,122.0,73.0,182.0,54.0,92.0,97.0,21,0,20.0
9996,100,28.9,124.0,78.0,157.0,56.0,70.0,102.0,11,0,57.0
9997,78,23.8,110.0,63.0,154.0,69.0,71.0,114.0,2,1,77.0
9998,86,27.0,139.0,98.0,196.0,38.0,119.0,126.0,16,0,63.0
9999,67,29.4,134.0,83.0,197.0,51.0,117.0,128.0,22,0,48.0

In [4]:
# TODO: Select specific columns
df['patient_id']

0       P00001
1       P00002
2       P00003
3       P00004
4       P00005
         ...
9995    P09996
9996    P09997
9997    P09998
9998    P09999
9999    P10000
Name: patient_id, Length: 10000, dtype: object

In [5]:
# TODO: Use .loc[] to select subset
df.loc[2, ['age']]

age    82
Name: 2, dtype: object

## Part 3: Filtering (4 points)

Filter the data to answer these questions:

1. How many patients are over 65 years old?
2. How many patients have systolic BP > 140?
3. Find patients who are both over 65 AND have systolic BP > 140
4. Find patients from Site A or Site B using `.isin()`

In [6]:
# TODO: Filter and count patients over 65
# 1. Use the filter_data utility from Q3
# 2. Create a filter for age > 65
# 3. Apply the filter and count the results
# print(f"Patients over 65: {len(patients_over_65)}")
filters = [{'column': 'age', 'condition': 'greater_than', 'value': 65}]
patients_over_65 = filter_data(df, filters)
print(f"Patients over 65: {len(patients_over_65)}")

Patients over 65: 8326

In [7]:
# TODO: Filter for high BP
# 1. Use the filter_data utility from Q3
# 2. Create a filter for systolic_bp > 140
# 3. Apply the filter and count the results
# print(f"Patients with high BP: {len(high_bp)}")
filters = [{'column': 'systolic_bp', 'condition': 'greater_than', 'value': 140}]
high_bp = filter_data(df, filters)
print(f"Patients with high BP: {len(high_bp)}")

Patients with high BP: 538

In [8]:
# TODO: Multiple conditions with &
# 1. Use filter_data for multiple conditions:
# 2. Create filters for both conditions:
#     {'column': 'age', 'condition': 'greater_than', 'value': 65},
#     {'column': 'systolic_bp', 'condition': 'greater_than', 'value': 140}
# ]
# 3. Apply the filter and count the results
# print(f"Patients over 65 AND high BP: {len(both_conditions)}")
#
# 5. Alternative: Use in_range for age range:
# 5. Create filter for age range 65-100
# 6. Apply the filter and count the results
filters = [{'column': 'age', 'condition': 'in_range', 'value': [65, 100]}]
both_conditions = filter_data(high_bp, filters)
print(f"Patients over 65 AND high BP: {len(both_conditions)}")

Patients over 65 AND high BP: 472

In [9]:
# TODO: Filter by site using .isin()
# 1. Use the filter_data utility from Q3
# 2. Create a filter for Site A or Site B
# 3. Apply the filter and count the results
# print(f"Patients from Site A or B: {len(site_ab)}")
filters = [{'column': 'site', 'condition': 'in_list', 'value': ['Site A', 'Site B']}]
site_ab = filter_data(df, filters)
print(f"Patients from Site A or B: {len(site_ab)}")

Patients from Site A or B: 1397

## Part 4: Value Counts and Grouping (5 points)

1. Get value counts for the 'site' column
2. Get value counts for the 'intervention_group' column  
3. Create a crosstab of site vs intervention_group
4. Calculate mean age by site
5. Save the site value counts to `output/q4_site_counts.csv`

In [10]:
# TODO: Value counts and analysis
print(df['site'].unique())
df['site'] = df['site'].str.lower().str.strip()
df['site'] = df['site'].replace({'site  a': 'site a', 'site_d': 'site d'})
print(df['intervention_group'].unique())

df['intervention_group'] = df['intervention_group'].str.lower().str.strip()
df['intervention_group'] = df['intervention_group'].replace({'contrl': 'control'})
df['intervention_group'] = df['intervention_group'].replace(['treatmen a', 'treatmenta'], 'treatment a')
df['intervention_group'] = df['intervention_group'].replace({'treatment  b': 'treatment b'})
site_counts = df['site'].value_counts()
intervention_counts = df['intervention_group'].value_counts()
display(pd.crosstab(df['site'], df['intervention_group']))
mean_age_by_site = df.groupby('site')['age'].mean()
print(mean_age_by_site)

['site b' 'Site A' 'SITE C' 'Site D' 'site e' 'site a' 'SITE B' 'SITE A'
 'SITE E' 'site d' 'Site E' 'site c' 'Site C' '  SITE D  ' '  Site B  '
 'Site_D' 'SITE D' '  site a  ' 'Site B' '  site e  ' '  SITE B  '
 'Site  A' '  Site  A  ' '  site d  ' '  site b  ' '  site c  '
 '  Site E  ' '  SITE E  ' '  SITE C  ' '  SITE A  ' '  Site A  '
 '  Site_D  ' '  Site C  ' '  Site D  ']
['Control' 'CONTROL' '  treatment b  ' 'treatment b' 'Treatmen A'
 'TreatmentA' 'treatment a' 'TREATMENT A' 'Treatment B' 'control' 'Contrl'
 'Treatment A' 'TREATMENT B' '  control  ' '  TREATMENT A  '
 'Treatment  B' '  TreatmentA  ' '  Contrl  ' '  TREATMENT B  '
 '  treatment a  ' '  Control  ' '  Treatmen A  ' '  Treatment  B  '
 '  Treatment A  ' '  Treatment B  ' '  CONTROL  ']

intervention_group  control  treatment a  treatment b
site
site a                 1023          964          969
site b                  780          834          839
site c                  709          670          694
site d                  490          522          489
site e                  335          331          351

site
site a    56.364005
site b    62.401957
site c    57.312108
site d    63.491006
site e    57.064897
Name: age, dtype: float64

In [11]:
# TODO: Save output
# site_counts.to_csv('output/q4_site_counts.csv')
site_counts.to_csv('output/q4_site_counts.csv')

## Summary

Write 2-3 sentences about what you learned from exploring this dataset.

**Your summary here:**

TODO: Write your observations

Raw data often contain many inconsistencies. Before any meaningful analysis can occur, it’s important to clean and standardize the dataset to ensure that the values are consistent and easy to work with.